<%= form_with(model: user, local: true) do |form| %>
  <%= form_tag users_path, { autocomplete: "off" } do |form| %>
    <div class="field">
      <%= label_tag :name %>
      <%= text_field_tag :name %>
    </div>
    <div autocomplete="off" class="field">
      <%= label_tag :email %>
      <%= text_field_tag :email %>
    </div>
    <div autocomplete="off" class="field">
      <%= label_tag :password %>
      <%= password_field_tag :password %>
    </div>
    <div class="actions">
      <%= submit_tag "Sign up" %>
    </div>
  <% end %>
<% end %>
