<div class="upload-form form">
  <%= form_with(model: upload, local: true) do |form| %>
    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>

    <div class="field">
      <%= form.label :description %>
      <%= form.text_field :about %>
    </div>

    <%= form.file_field :files, multiple:true, direct_upload: true %>

    <div class="actions">
      <%= submit_tag "Upload files" %>
    </div>
  <% end %>
</div>
