<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand" href="/">File Easy</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <% if user.present? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= user.email.upcase %>
          </a>
          <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
            <a class="nav-link" href=<%= uploads_path %> >My Uploads</a>
            <div class="dropdown-divider"></div>
            <a class="nav-link" href=<%= logout_path %> >Logout</a>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <a class="nav-link" href=<%= signup_path %> >Sign up</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href= "<%= login_path %>" >Login</a>
        </li>
      <% end %>
    </ul>

  </div>
</nav>