<!DOCTYPE html>
<html>
  <head>
    <title>FileEasy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
  </head>

  <body>
    <div className="main-wrapper">
      <%= render 'layouts/navbar', user: current_user %>

      <div class="main">
        <%= yield %>
      </div>

      <%= render 'layouts/flash', flash: flash %> 

    </div>
    
    <%= render 'layouts/footer' %>
  </body>
</html>
